@font-face {
  font-family: sushibar;
  src: url(../../resources/fonts/dksushiBar.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../../resources/fonts/poppinsregular.ttf);
}
@font-face {
  font-family: poppinsmedium;
  src: url(../../resources/fonts/poppinsmedium.ttf);
}
* {
  margin: 0%;
  padding: 0%;
}

div.container-fluid {
  margin: 0%;
  padding: 0%;
}

header {
  grid-area: header;
  display: flex;
  height: 75px;
  width: 100%;
  position: fixed;
}
header #menu-check {
  display: none;
}
header #menu {
  display: none;
}
header .container-fluid {
  display: flex;
  margin: 0%;
  padding: 0%;
}
header .header {
  display: flex;
  align-items: flex-start;
  height: 70px;
  width: 100%;
  margin: 0%;
  position: fixed;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;
  height: 70px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0F110C;
  position: fixed;
}
header .inicio {
  display: flex;
  color: transparent;
  width: 60px;
  height: 60px;
  margin-bottom: 0%;
}
header .link {
  font-family: poppins;
  font-size: 16px;
  margin: 0% 40px;
  color: #A2A7A5;
}
header .link-central {
  font-family: poppinsmedium;
  font-size: 20px;
  text-align: center;
  color: #A2A7A5;
}
header li {
  list-style-type: none;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 85px auto 75px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  height: 100%;
  width: 100%;
  background-image: url(../resources/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
}

footer {
  grid-area: footer;
  display: flex;
  background-color: #0F110C;
  height: 75px;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
footer .footer {
  display: flex;
  align-items: flex-end;
  height: 75px;
  width: 100%;
  margin: 0%;
  background-color: #0F110C;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0F110C;
}
footer ul .ig {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 5px;
}
footer ul .wapp {
  display: flex;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  padding: 5px;
}
footer ul .firma {
  display: flex;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  padding: 5px;
}

main {
  margin: 0%;
  padding: 0%;
  grid-area: main;
  height: 100%;
  width: 100%;
}
main main.home {
  margin: auto;
  text-align: center;
}
main #h2home {
  display: flex;
  justify-content: center;
}
main .inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}
main video.home {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px;
  height: 500px;
  width: 700px;
}
main .rolls {
  margin-left: 200px;
  height: 300px;
  width: 400px;
  margin-bottom: 60px;
}
main .tabla {
  height: 300px;
  width: 400px;
  margin-bottom: 60px;
}

#h1aboutus {
  display: flex;
  justify-content: center;
}
#h1aboutus h1.aboutus {
  font-family: sushibar;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
}

#h2aboutus {
  display: flex;
  justify-content: left;
}
#h2aboutus h2.primero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}

#h2aboutussegundo {
  display: flex;
  justify-content: right;
}
#h2aboutussegundo h2.segundo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}

#h2aboutustercero h2.tercero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}

p.primero {
  display: flex;
  justify-content: left;
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
}

p.segundo {
  display: flex;
  justify-content: right;
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
}

p.tercero {
  display: flex;
  justify-content: left;
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
}

#h1contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#h1contacto h1.contact {
  font-family: sushibar;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
}

#maps {
  display: flex;
  justify-content: center;
}
#maps .maps {
  display: flex;
  margin: 0% 30px;
  width: 1400px;
}

#datos {
  margin: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#imagenes {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 200PX;
}
#imagenes img {
  height: 80px;
  width: 80px;
  background-color: #A20021;
  margin-bottom: 10px;
  border-radius: 12px;
  border-color: #0F110C;
  border: 4px;
  border-style: solid;
}

h2.ig {
  margin-bottom: 95px;
  color: #A20021;
  background-color: #A2A7A5;
  border: 4px;
  border-radius: 12px;
  border-style: solid;
  border-color: #0F110C;
  font-family: poppins;
  text-align: center;
  width: 300px;
  font-size: 20px;
}

h2.phone {
  color: #A20021;
  background-color: #A2A7A5;
  border: 4px;
  border-radius: 12px;
  border-style: solid;
  border-color: #0F110C;
  font-family: poppns;
  text-align: center;
  width: 300px;
  font-size: 20px;
}

h2.carousel {
  display: flex;
  justify-content: center;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  background-color: #A20021;
  font-family: poppinsmedium;
  color: #A2A7A5;
  width: 290px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A20021;
  margin: 0% 428px;
  margin-bottom: 40px;
  width: 600px;
  font-family: poppins;
}
.card .card-body h5 {
  font-family: poppins;
}
.card .card-boddy p {
  font-family: poppins;
}
.card .card-img-top {
  margin-top: 20px;
  display: flex;
  width: 500px;
  height: 400px;
}
.card a.btn-primary {
  background-color: #A2A7A5;
  color: #A20021;
  border-color: unset;
}

#titulo-promos {
  display: flex;
  justify-content: center;
}
#titulo-promos h1 {
  font-family: sushibar;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #A2A7A5;
  color: #A20021;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
}

div.promo1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.promo2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

div.promo3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

h2.promo1 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 36px;
  color: #A20021;
  background-color: #A2A7A5;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  border-left: unset;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

#h2promo2 {
  display: flex;
  justify-content: right;
  margin: 0%;
  padding: 0%;
}

#promo {
  margin: 0%;
  padding: 0%;
}

h2.promo2 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 36px;
  color: #A20021;
  background-color: #A2A7A5;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  border-right: unset;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

h2.promo3 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 36px;
  color: #A20021;
  background-color: #A2A7A5;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  border-left: unset;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

.promo1 p {
  display: flex;
  display: inline-block;
  justify-content: right;
  font-family: poppins;
  font-size: 15px;
  color: white;
  width: 300px;
  margin-top: 50px;
  margin-right: 200px;
}

.promo2 p {
  display: flex;
  display: inline-block;
  justify-content: left;
  font-family: poppins;
  font-size: 15px;
  color: white;
  width: 300px;
  margin-top: 50px;
  margin-left: 200px;
}

.promo3 p {
  display: flex;
  display: inline-block;
  justify-content: right;
  font-family: poppins;
  font-size: 15px;
  color: white;
  width: 300px;
  margin-top: 50px;
  margin-right: 200px;
}

.promo1 img {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.promo2 img {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.promo3 img {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 300px;
  height: 300px;
}

/*# sourceMappingURL=main.css.map */
