@font-face {
  font-family: sushibar;
  src: url(../resources/fonts/dksushiBar.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../resources/fonts/poppinsregular.ttf);
}
@font-face {
  font-family: poppinsmedium;
  src: url(../resources/fonts/poppinsmedium.ttf);
}
* {
  padding: 0%;
  margin: 0%;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 85px auto 75px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  margin: 0%;
  padding: 0%;
  height: 100%;
  background-image: url(../resources/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0%;
  margin: 0%;
}

footer {
  grid-area: footer;
  display: flex;
  background-color: #0F110C;
  height: 75px;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
footer .footer {
  display: flex;
  align-items: flex-end;
  height: 75px;
  width: 100%;
  margin: 0%;
  background-color: #0F110C;
  justify-content: space-between;
}
footer .footer ul {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0F110C;
}
footer .footer ul li {
  list-style-type: none;
}
footer .footer ul .wapp {
  display: flex;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  padding: 5px;
}
@media (max-width: 576px) {
  footer .footer ul .wapp {
    width: 40px;
    height: 40px;
  }
}
footer .footer ul .ig {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 5px;
}
@media (max-width: 576px) {
  footer .footer ul .ig {
    width: 40px;
    height: 40px;
  }
}
footer .footer ul .firma {
  display: flex;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  padding: 5px;
}
@media (max-width: 576px) {
  footer .footer ul .firma {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 576px) {
  footer .footer ul {
    height: 50px;
  }
}
@media (max-width: 576px) {
  footer .footer {
    height: 55px;
  }
}
@media (max-width: 576px) {
  footer {
    height: 55px;
  }
}

header {
  grid-area: header;
  display: flex;
  height: 75px;
  width: 100%;
  position: fixed;
  margin: 0%;
  padding: 0%;
}
header .container-fluid {
  display: flex;
  margin: 0%;
  padding: 0%;
}
header .container-fluid #menu-check {
  display: none;
}
header .container-fluid #menu {
  display: none;
}
@media (max-width: 576px) {
  header .container-fluid #menu {
    display: block;
    text-align: center;
    font-size: 21px;
    color: #818884;
    background-color: #D4AF37;
    border: 4px;
    border-color: #0F110C;
    border-style: solid;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0%;
    left: 47%;
  }
}
header .container-fluid .header {
  display: flex;
  align-items: flex-start;
  height: 70px;
  width: 100%;
  margin: 0%;
  position: fixed;
}
@media (max-width: 576px) {
  header .container-fluid .header {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    position: unset;
    z-index: 10000000000;
  }
}
header .container-fluid .header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;
  height: 70px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0F110C;
  position: fixed;
}
header .container-fluid .header ul li {
  list-style-type: none;
  width: 170px;
}
@media (max-width: 576px) {
  header .container-fluid .header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .container-fluid .header ul .inicio {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  margin-bottom: 0%;
  margin-right: 40px;
}
@media (max-width: 576px) {
  header .container-fluid .header ul .inicio {
    display: flex;
    font-family: poppinsmedium;
    font-size: 24px;
    color: #818884;
    width: unset;
    height: unset;
    text-align: unset;
    margin: unset;
  }
}
header .container-fluid .header ul .inicio .katanaizquierda {
  height: 50px;
  width: 50px;
  margin-bottom: 0%;
  animation-name: rotation-katana-left;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 20s;
}
@media (max-width: 576px) {
  header .container-fluid .header ul .inicio .katanaizquierda {
    display: none;
  }
}
header .container-fluid .header ul .inicio .text {
  display: none;
  margin: 0%;
}
@media (max-width: 576px) {
  header .container-fluid .header ul .inicio .text {
    display: block;
    text-align: center;
  }
}
@media (max-width: 576px) {
  header .container-fluid .header ul .inicio .logo {
    display: none;
  }
}
header .container-fluid .header ul .inicio .katanaderecha {
  height: 50px;
  width: 50px;
  margin-bottom: 0%;
  animation-name: rotation-katana-right;
  animation-delay: 20s;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 150;
  animation-direction: normal;
}
@media (max-width: 576px) {
  header .container-fluid .header ul .inicio .katanaderecha {
    display: none;
  }
}
header .container-fluid .header ul .link {
  font-family: poppins;
  font-size: 16px;
  margin: 0% 20px;
  color: #818884;
  text-align: center;
}
@media (max-width: 576px) {
  header .container-fluid .header ul .link {
    margin: 0%;
  }
}
header .container-fluid .header ul .link-central {
  font-family: poppinsmedium;
  font-size: 20px;
  text-align: center;
  color: #818884;
  text-align: center;
}
header .container-fluid .header ul .linkpromos {
  font-family: poppinsmedium;
  font-size: 20px;
  text-align: center;
  color: #818884;
  text-align: center;
}
@media (max-width: 576px) {
  header .container-fluid .header ul .linkpromos {
    margin: unset;
  }
}
@media (max-width: 576px) {
  header .container-fluid .header ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: space-between;
    text-align: center;
    width: 100%;
    height: 300px;
    margin: 0%;
    padding: 10px 0%;
    position: unset;
    z-index: 100000000000;
  }
}
@media (max-width: 576px) {
  header .container-fluid {
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #0F110C;
    margin: 0%;
    padding: 0%;
    z-index: 10000000;
  }
}
@media (max-width: 576px) {
  header {
    position: unset;
    top: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 10000000000;
  }
}

@media (max-width: 576px) {
  #menu-check:not(:checked) ~ nav {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0);
    text-align: center;
    margin-top: 40px;
    width: 576px;
    height: 300px;
    height: auto;
    position: unset;
  }
  #menu-cerrar {
    display: none;
  }
  #menu-check:checked ~ label #menu-abrir {
    display: none;
  }
  #menu-check:checked ~ label #menu-cerrar {
    display: block;
  }
}
main {
  margin: 0%;
  padding: 0%;
  grid-area: main;
  height: 100%;
  width: 100%;
}

main.home {
  margin: auto;
  text-align: center;
}
main.home #h2home {
  display: flex;
  justify-content: center;
}
main.home #h2home .inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}
@media (max-width: 576px) {
  main.home #h2home {
    display: flex;
    justify-content: center;
  }
}
main.home .home {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px;
  height: 500px;
  width: 700px;
}
@media (max-width: 576px) {
  main.home .home {
    height: 300px;
    width: 300px;
    pointer-events: none;
  }
}
main.home .imagenes .rolls {
  height: 300px;
  width: 400px;
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  main.home .imagenes .rolls {
    height: 200px;
    width: 300px;
  }
}
main.home .imagenes .tabla {
  height: 300px;
  width: 400px;
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  main.home .imagenes .tabla {
    height: 200px;
    width: 300px;
  }
}
@media (max-width: 576px) {
  main.home .imagenes {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

#h1aboutus {
  display: flex;
  justify-content: center;
}
#h1aboutus .aboutus {
  font-family: sushibar;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
}

#h2aboutus {
  display: flex;
  justify-content: left;
}
#h2aboutus .primero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}

#h2aboutussegundo {
  display: flex;
  justify-content: right;
}
#h2aboutussegundo .segundo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}

p.primero {
  display: flex;
  justify-content: left;
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
}

p.segundo {
  display: flex;
  justify-content: right;
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
}

p.tercero {
  display: flex;
  justify-content: left;
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
}

h2.tercero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  font-family: poppins;
  font-size: 36px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
  width: 400px;
  height: 60px;
}

#h1contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#h1contacto .contact {
  font-family: sushibar;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
}

#maps {
  display: flex;
  justify-content: center;
}
#maps .maps {
  display: flex;
  margin: 0% 30px;
  width: 1400px;
}
@media (max-width: 576px) {
  #maps .maps {
    display: flex;
    margin: 0% 30px;
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 576px) {
  #maps {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

#datos {
  margin: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#datos #imagenes {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 200PX;
}
#datos #imagenes img {
  height: 80px;
  width: 80px;
  background-color: #D4AF37;
  margin-bottom: 10px;
  border-radius: 12px;
  border-color: #0F110C;
  border: 4px;
  border-style: solid;
}
@media (max-width: 576px) {
  #datos #imagenes img {
    height: 60%;
    width: 60px;
    background-color: #D4AF37;
    margin-bottom: 10px;
    border-radius: 12px;
    border-color: #0F110C;
    border: 4px;
    border-style: solid;
  }
}
@media (max-width: 576px) {
  #datos #imagenes {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 5px;
  }
}
#datos h2.ig {
  margin-bottom: 95px;
  color: #D4AF37;
  background-color: #818884;
  border: 4px;
  border-radius: 12px;
  border-style: solid;
  border-color: #0F110C;
  font-family: poppins;
  text-align: center;
  width: 300px;
  font-size: 20px;
}
@media (max-width: 576px) {
  #datos h2.ig {
    margin-bottom: 40px;
    color: #D4AF37;
    background-color: #818884;
    border: 4px;
    border-radius: 12px;
    border-style: solid;
    border-color: #0F110C;
    font-family: poppins;
    text-align: center;
    width: 200px;
    font-size: 20px;
  }
}
#datos h2.phone {
  color: #D4AF37;
  background-color: #818884;
  border: 4px;
  border-radius: 12px;
  border-style: solid;
  border-color: #0F110C;
  font-family: poppins;
  text-align: center;
  width: 300px;
  font-size: 20px;
}
@media (max-width: 576px) {
  #datos h2.phone {
    color: #D4AF37;
    background-color: #818884;
    border: 4px;
    border-radius: 12px;
    border-style: solid;
    border-color: #0F110C;
    font-family: poppins;
    text-align: center;
    width: 200px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  #datos {
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

h2.carousel {
  display: flex;
  justify-content: center;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  background-color: #D4AF37;
  font-family: poppinsmedium;
  color: #818884;
  width: 290px;
}
@media (max-width: 576px) {
  h2.carousel {
    display: flex;
    justify-content: center;
    border: 4px;
    border-style: solid;
    border-color: #0F110C;
    background-color: #D4AF37;
    font-family: poppinsmedium;
    color: #818884;
    width: 290px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D4AF37;
  margin: 0% 428px;
  margin-bottom: 40px;
  width: 600px;
  font-family: poppins;
}
.card h5 {
  font-family: poppins;
}
.card p {
  font-family: poppins;
}
.card .card-img-top {
  margin-top: 20px;
  display: flex;
  width: 500px;
  height: 400px;
}
.card .btn-primary {
  background-color: #818884;
  color: #D4AF37;
  border-color: unset;
}
@media (max-width: 576px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4AF37;
    margin: 0% 70px;
    margin-bottom: 40px;
    width: 400px;
    font-family: poppins;
  }
  .card .card-img-top {
    margin-top: 20px;
    display: flex;
    width: 350px;
    height: 400px;
  }
}

#titulo-promos {
  display: flex;
  justify-content: center;
}
#titulo-promos .promos {
  font-family: sushibar;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #818884;
  color: #D4AF37;
  border: 4px;
  border-color: #0F110C;
  border-style: solid;
}

#h2promo2 {
  display: flex;
  justify-content: right;
  margin: 0%;
  padding: 0%;
}

#promo {
  margin: 0%;
  padding: 0%;
}

h2.promo1 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 36px;
  color: #D4AF37;
  background-color: #818884;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  border-left: unset;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

h2.promo2 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 36px;
  color: #D4AF37;
  background-color: #818884;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  border-right: unset;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

h2.promo3 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 36px;
  color: #D4AF37;
  background-color: #818884;
  border: 4px;
  border-style: solid;
  border-color: #0F110C;
  border-left: unset;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

div.promo1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
div.promo1 p {
  display: flex;
  display: inline-block;
  justify-content: right;
  font-family: poppins;
  font-size: 15px;
  color: white;
  width: 300px;
  margin-top: 50px;
  margin-right: 200px;
}
@media (max-width: 576px) {
  div.promo1 p {
    display: flex;
    display: inline-block;
    justify-content: right;
    font-family: poppins;
    font-size: 15px;
    color: white;
    width: 200px;
    margin-top: unset;
    margin-right: 30px;
  }
}
div.promo1 img {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 300px;
  height: 300px;
}
@media (max-width: 576px) {
  div.promo1 img {
    display: flex;
    justify-content: left;
    margin: 20px;
    width: 200px;
    height: 200px;
  }
}

div.promo2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
div.promo2 p {
  display: flex;
  display: inline-block;
  justify-content: left;
  font-family: poppins;
  font-size: 15px;
  color: white;
  width: 300px;
  margin-top: 50px;
  margin-left: 200px;
}
@media (max-width: 576px) {
  div.promo2 p {
    display: flex;
    display: inline-block;
    justify-content: left;
    font-family: poppins;
    font-size: 15px;
    color: white;
    width: 200px;
    margin-top: unset;
    margin-left: 30px;
  }
}
div.promo2 img {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 300px;
  height: 300px;
}
@media (max-width: 576px) {
  div.promo2 img {
    display: flex;
    justify-content: left;
    margin: 20px;
    width: 200px;
    height: 200px;
  }
}

div.promo3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
div.promo3 p {
  display: flex;
  display: inline-block;
  justify-content: right;
  font-family: poppins;
  font-size: 15px;
  color: white;
  width: 300px;
  margin-top: 50px;
  margin-right: 200px;
}
@media (max-width: 576px) {
  div.promo3 p {
    display: flex;
    display: inline-block;
    justify-content: right;
    font-family: poppins;
    font-size: 15px;
    color: white;
    width: 200px;
    margin-top: unset;
    margin-right: 30px;
  }
}
div.promo3 img {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 300px;
  height: 300px;
}
@media (max-width: 576px) {
  div.promo3 img {
    display: flex;
    justify-content: left;
    margin: 20px;
    width: 200px;
    height: 200px;
  }
}

.btn-primary:hover {
  background-color: #0F110C;
  color: #D4AF37;
}

.inicio:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.inicio:hover .katanaizquierda {
  transform: rotateZ(-30deg);
  transition: all 0.5s linear;
}
.inicio:hover .katanaderecha {
  transform: rotateZ(30deg);
  transition: all 0.5s linear;
}

@keyframes rotation-katana-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotation-katana-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
