@font-face {
    font-family: sushibar;
    src: url(../resources/fonts/dksushiBar.ttf)
}
@font-face {
        font-family: poppins;
        src: url(../resources/fonts/poppinsregular.ttf);
}
@font-face {
    font-family: poppinsmedium;
    src: url(../resources/fonts/poppinsmedium.ttf);
}