#h1aboutus{
    display: flex;
    justify-content: center;
    .aboutus{
        font-family: sushibar;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 60px;
        background-color: $color-terciario;
        color: $color-secundario;
        border: 4px;
        border-color: $color-primario;
        border-style: solid; 
    }
}
#h2aboutus{
    display: flex;
    justify-content: left;
    .primero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: flex;
        font-family: poppins;
        font-size: 36px;
        background-color: $color-terciario;
        color: $color-secundario;
        border: 4px;
        border-color: $color-primario;
        border-style: solid;
        width: 400px;
        height: 60px;
    }
}
#h2aboutussegundo{
    display: flex;
    justify-content: right;
    .segundo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: flex;
        font-family: poppins;
        font-size: 36px;
        background-color: $color-terciario;
        color: $color-secundario;
        border: 4px;
        border-color: $color-primario;
        border-style: solid;
        width: 400px;
        height: 60px;
    }
}
p.primero{
    display: flex;
    justify-content: left;
    font-family: poppins;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding:10px;
    width: 90%;
}
p.segundo{
    display: flex;
    justify-content: right;
    font-family: poppins;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding:10px;
    width: 90%;
}
p.tercero{
    display: flex;
    justify-content: left;
    font-family: poppins;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding:10px;
    width: 90%;
}
h2.tercero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    font-family: poppins;
    font-size: 36px;
    background-color: $color-terciario;
    color: $color-secundario;
    border: 4px;
    border-color: $color-primario;
    border-style: solid;
    width: 400px;
    height: 60px;
}