main{
    margin: 0%;
    padding: 0%;
    grid-area: main;
    height: 100%;
    width: 100%;
}
main.home{
    margin: auto;
    text-align: center;
    #h2home{
        display: flex;
        justify-content: center;
        .inicio{
            display: flex;
            flex-direction: row;
            justify-content: center;
            display: flex;
            font-family: poppins;
            font-size: 36px;
            background-color: #A2A7A5;
            color: #A20021;
            border: 4px;
            border-color: #0F110C;
            border-style: solid;
            width: 400px;
            height: 60px;
        }
        @media(max-width: 576px){
            display: flex;
            justify-content: center;
        }
    }
    .home{
        @media(max-width: 576px){
            height: 300px;
            width: 300px;
            pointer-events: none;
        }
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-bottom: 30px;
        height: 500px;
        width: 700px
    }
    .imagenes{
            .rolls{
                height: 300px;
                width: 400px;
                margin-bottom: 60px;
                @media(max-width: 576px){
                    height: 200px;
                    width: 300px;
                }
            }
            .tabla{
                height: 300px;
                width: 400px;
                margin-bottom: 60px;
                @media(max-width: 576px){
                    height: 200px;
                    width: 300px;
                }
            }
        @media(max-width: 576px){
            display: flex;
            flex-direction: column;
            align-content: center;
        }    
    }
}
    
    
