h2.carousel{
    display: flex;
    justify-content: center;
    border: 4px;
    border-style: solid;
    border-color: #0F110C;
    background-color: #A20021;
    font-family: poppinsmedium;
    color: #A2A7A5;
    width: 290px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A20021;
    margin: 0% 428px;
    margin-bottom: 40px;
    width: 600px;
    font-family: poppins;
    h5{
        font-family: poppins;
    }
    p{
        font-family: poppins;
    }
    .card-img-top{
        margin-top: 20px;
        display: flex;
        width: 500px;
        height: 400px
    }
    a.btn-primary{
        background-color: #A2A7A5;
        color: #A20021;
        border-color: unset;
        
    }
}