#titulo-promos{
    display: flex;
    justify-content: center;
    .promos{
        font-family: sushibar;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 60px;
        background-color: $color-secundario;
        color: $color-primario;
        border: 4px;
        border-color: $color-terciario;
        border-style: solid;
    
    }
}
#h2promo2{
    display: flex;
    justify-content: right;
    margin: 0%;
    padding: 0%;  
}
#promo{
    margin: 0%;
    padding: 0%;
}
h2.promo1{
    display: flex;
    justify-content: center;
    font-family: sushibar;
    font-size: 36px;
    color: $color-primario;
    background-color: $color-secundario;
    border: 4px;
    border-style: solid;
    border-color: $color-terciario;
    border-left: unset;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}
h2.promo2{
    display: flex;
    justify-content: center;
    font-family: sushibar;
    font-size: 36px;
    color: $color-primario;
    background-color: $color-secundario;
    border: 4px;
    border-style: solid;
    border-color: $color-terciario;
    border-right: unset;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}
h2.promo3{
    display: flex;
    justify-content: center;
    font-family: sushibar;
    font-size: 36px;
    color: $color-primario;
    background-color: $color-secundario;
    border: 4px;
    border-style: solid;
    border-color: $color-terciario;
    border-left: unset;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}
div.promo1{
    display: flex;
    flex-direction: row;
    p{
        display: flex;
        display: inline-block;
        justify-content: right;
        font-family: poppins;
        font-size: 15px;
        color: white;
        width: 300px;
        margin-top: 50px;
        margin-right: 200px;
        @media(max-width: 576px){
            display: flex;
            display: inline-block;
            justify-content: right;
            font-family: poppins;
            font-size: 15px;
            color: white;
            width: 200px;
            margin-top: unset;
            margin-right: 30px;
        }
    }
    img{
        display: flex;
        justify-content: left;
        margin: 20px;
        width: 300px;
        height: 300px;
        @media(max-width: 576px){
            display: flex;
            justify-content: left;
            margin: 20px;
            width: 200px;
            height: 200px;
        }
    }
}
div.promo2{
    display: flex;
    flex-direction: row-reverse;
    p{
        display: flex;
        display: inline-block;
        justify-content: left;
        font-family: poppins;
        font-size: 15px;
        color: white;
        width: 300px;
        margin-top: 50px;
        margin-left: 200px;
        @media(max-width: 576px){
            display: flex;
            display: inline-block;
            justify-content: left;
            font-family: poppins;
            font-size: 15px;
            color: white;
            width: 200px;
            margin-top: unset;
            margin-left: 30px;
        }
    }
    img{
        display: flex;
        justify-content: left;
        margin: 20px;
        width: 300px;
        height: 300px;
        @media(max-width: 576px){
            display: flex;
            justify-content: left;
            margin: 20px;
            width: 200px;
            height: 200px;
        }
    }
}
div.promo3{
    display: flex;
    flex-direction: row;
    p{
        display: flex;
        display: inline-block;
        justify-content: right;
        font-family: poppins;
        font-size: 15px;
        color: white;
        width: 300px;
        margin-top: 50px;
        margin-right: 200px;
        @media(max-width: 576px){
            display: flex;
            display: inline-block;
            justify-content: right;
            font-family: poppins;
            font-size: 15px;
            color: white;
            width: 200px;
            margin-top: unset;
            margin-right: 30px;
        }
    }    
    img{
        display: flex;
        justify-content: left;
        margin: 20px;
        width: 300px;
        height: 300px;
        @media(max-width: 576px){
            display: flex;
            justify-content: left;
            margin: 20px;
            width: 200px;
            height: 200px;
        }
    }
}