header{ 
    #menu-check{
        display: none;
    }
    #menu{
        display: none;
    }
    grid-area: header;
    display: flex;
    height: 75px;
    width: 100%;
    position: fixed;
    .container-fluid{
        display: flex;
        margin: 0%;
        padding: 0%;
    }
    .header{
        display: flex;
        align-items:flex-start;
        height: 70px;
        width: 100%;
        margin: 0%;
        position: fixed;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0%;
        height: 70px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        background-color: $color-primario;
        position: fixed;    
    }
    .inicio{
        display: flex;
        color: transparent;
        width: 60px;
        height: 60px;
        margin-bottom: 0%;
    }
    .link{
        font-family: poppins;
        font-size: 16px;
        margin: 0% 40px;
        color: #A2A7A5;
    }
    .link-central{
        font-family: poppinsmedium;
        font-size: 20px;
        text-align: center;
        color: #A2A7A5;
    }
    li{
        list-style-type: none;
    }
 }
 @media(max-width:576px){
    header .container-fluid{
        position: fixed;
        top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background-color: #0F110C;
        margin: 0%;
        padding: 0%;
        z-index: 10000000;
    }
    header{
        position: unset;
        top:0%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        z-index: 10000000000;
    }
    nav.header{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 300px;
        position:unset;
        z-index: 10000000000;
        }
    header ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%; 
        height: 300px;
        margin: 0%;
        padding: 10px 0%;
        position: unset;
        z-index: 100000000000;
    }
    header a.inicio img{
        display: none;
    }
    header a.inicio{
        display: flex;
        font-family: poppinsmedium;
        font-size: 24px;
        color: #A2A7A5;
    } 
    #menu-check:not(:checked) ~ nav{
        display: none;
    }
    #menu-check:checked ~ nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(0);
        text-align: center;
        margin-top: 40px;
        width: 576px;
        height: 300px;
        height:auto;
        position: unset;

    }
    #menu{
        display: block;
        text-align: center;
        font-size: 21px;
        color: #A2A7A5;
        background-color: #A20021;
        border: 4px;
        border-color: #0F110C;
        border-style: solid;
        font-weight: bold;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0%;
        left: 47%;
    }    
    #menu-cerrar{
        display: none;    
    }
    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }
    #menu-check:checked ~ label #menu-cerrar{
        display:block;
    }
    header a.link{
        margin: 0%;
    }
}