header{ 
    grid-area: header;
    display: flex;
    height: 75px;
    width: 100%;
    position: fixed;
    .container-fluid{
        display: flex;
        margin: 0%;
        padding: 0%;
        #menu-check{
            display: none;
        }
        #menu{
            display: none;
            }
        .header{
            display: flex;
            align-items:flex-start;
            height: 70px;
            width: 100%;
            margin: 0%;
            position: fixed;
            }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0%;
                height: 70px;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
                background-color: $color-primario;
                position: fixed;
                .inicio{
                    display: flex;
                    color: transparent;
                    width: 60px;
                    height: 60px;
                    margin-bottom: 0%;
                    }
                }
                .link{
                    font-family: poppins;
                    font-size: 16px;
                    margin: 0% 40px;
                    color: #A2A7A5;
                }
                .link-central{
                    font-family: poppinsmedium;
                    font-size: 20px;
                    text-align: center;
                    color: #A2A7A5;
                }
                li{
                    list-style-type: none;
                }    
            }
        }